* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 9)), url(../img/bg1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.przerwa {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-weight: bold;
}

a {
    position: relative;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 4epx;
    overflow: hidden;
    border: rgba(255, 255, 255, 0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

a.button {
    position: absoulute;
    background: none;
    color: #fff;
    font-weight: bold;
    width: 180px;
    height: 60px;
    border: 2px solid #0c7ccf;
    font-size: 18px;
    border-radius: 16px;
    transition: 0.6s;
    overflow: hidden;
}

a.button:hover {
    background: #0c7ccf;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}
