* {
    margin: 0;
    padding: 0;
}

html {
    font-family: helvetica, serif;
    color: white;
}

html, body {
    margin: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 9)),url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.przerwa {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-weight: bold;
}

a {
    position: relative;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 4epx;
    overflow: hidden;
    border: rgba(255, 255, 255, 0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

a.button {
    position: absoulute;
    background: none;
    color: #fff;
    font-weight: bold;
    width: 180px;
    height: 60px;
    border: 2px solid #0c7ccf;
    font-size: 18px;
    border-radius: 16px;
    transition: 0.6s;
    overflow: hidden;
}

a.button:hover {
    background: #0c7ccf;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.btn_one {
    text-decoration: none;
    color: white;
    font-weight: 100;
    border: 1px #fbbc05 solid;
    padding: 1em 3em;
    border-radius: 100px;   
}

.nav div {
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}
.nav {
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
    
}
.one {
    width: 30px;
}
.two {
    width: 20px;
}
.three {
    width: 25px;
}

.nav:hover div {
    width: 30px;
}
